In [16]:
import pandas as pd
import seaborn as sns 
import numpy as np
import matplotlib.pyplot as plt

project_files1 = pd.read_csv('../../data/raw/project files.csv')
#cleaned columns with NaN values
project_files1.drop(columns = ['DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY','AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY','WEATHER_DELAY'])

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DELAYED_OR_NOT
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,205,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,False
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,280,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,False
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,286,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,True
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,285,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,False
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,235,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469963,2015,1,31,6,B6,839,N658JB,JFK,BQN,2359,...,221,200.0,179.0,1576,416.0,3.0,440,419.0,-21.0,False
469964,2015,1,31,6,DL,1887,N855NW,SEA,DTW,2359,...,252,239.0,209.0,1927,644.0,14.0,711,658.0,-13.0,False
469965,2015,1,31,6,F9,300,N218FR,DEN,TPA,2359,...,192,212.0,168.0,1506,525.0,9.0,511,534.0,23.0,True
469966,2015,1,31,6,F9,422,N954FR,DEN,ATL,2359,...,162,191.0,141.0,1199,500.0,10.0,441,510.0,29.0,True
469967,2015,1,31,6,UA,1104,N73251,ANC,DEN,2359,...,309,312.0,282.0,2405,703.0,7.0,708,710.0,2.0,True

In [17]:
import pandas as pd
import seaborn as sns

In [18]:
def load_and_process(url_or_path_to_csv_file):
    
    df = (pd.read_csv(url_or_path_to_csv_file)
          .drop(columns = ['DIVERTED','CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY','AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY','WEATHER_DELAY','Unnamed: 31'])
          .dropna(axis = 0)
          .rename(columns = {"WHEELS_OFF" : "GATE_TO_TAKEOFF"}))
    return df

In [19]:
import pandas as pd
project_files2 = pd.read_csv('../../data/raw/project 2.csv')
project_files2
#no data needs to be cleaned for this data set

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [20]:
import pandas as pd
project_files3 = pd.read_csv('../../data/raw/project files 3.csv')
project_files3
#no data needs to be cleaned for this data set

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [27]:
def group_by(df):
    return df.groupby('DELAYED_OR_NOT', as_index = False).mean()

In [21]:
def barplot1(df):
    sns.barplot(y = 'shots', x= 'won', data =df).set_title('Shots by winning/losing team')

In [23]:
def displot(df):
    sns.displot(df['DAY'], kde=False, bins=31).set_title('number of flights on days during the month')

In [24]:
def displot2(df):
    sns.displot(df['AIRLINE'], kde=False, bins=13).set_title('amount of flights per airline')

In [25]:
def displot3(df):
    sns.displot(df['ORIGIN_AIRPORT'], kde=False, bins=322).set_title('departing flights')

In [29]:
def barplot(df):
    sns.barplot(y = count, x = 'DELAYED_OR_NOT', data =df).set_title('number of flights delayed versus on time')